# Data Structure Assignment

- THEORY QUESTIONS
- Q1. What are data structures, and why are they important ?
  - Data structures are ways of organizing and storing data. They are important because they help programs run faster and use memory more efficiently.

Q2. Explain the difference between mutable and immutable data types with examples ?
 - Mutable data types are those whose values can be changed or modified after after they are created.
   - Example :
   - List : You can change, add, or remove elements in a list.
   - my_list = [1, 2, 3] my_list[0] = 10  # Modifying the first element
 - Immutable data types are those whose values cannot be changed once they are created.  
   - Example :
   - Tuple : You cannnot change, add, or remove elements from a tuple.
   - my_tuple = (1, 2, 3)# my_tuple[0] = 10  # This would raise an error

Q3. What are the main differences between lists and tuples in Python ?
  - The main reasons between list and tuple in Python are :
    - Mutability : Lists are mutable, meaning thier elements can be modified, while tuples are immutable, meaning thier elements cannot be changed after creation.
    - Syntax : Lists are defiend using square brackets [], whereas tuples are defiend using parentheses ().

Q4. Describe how dictionaries store data ?
  - Dictionaries in Python store data in key-value pairs. Each key is unique, and it is associated with a corresponding value. The data is stored in an unordered manner, meaning the order of key-value pairs is not guaranteed.
    - Key: A unique identifier used to access the value.
    - Value: The data associated with the key.

Q5. Why might you use a set instead of a list in Python ?
  - You might use a set instead of a list in Python for the following reasons:
   - Uniqueness: Sets automatically enforce uniqueness, meaning they do not allow duplicate elements, while lists can contain duplicates.
   - Faster membership testing: Sets offer faster performance for checking if an element exists (using in), as they are implemented using hash tables, whereas lists require a linear search.

Q6. What is a string in Python, and how is it different from a list ?
  -  A string in Python is a sequence of characters, used to represent text. It is enclosed in either single quotes (') or double quotes (").

  - A string is for text and cannot be changed. A list can hold various types of data and can be changed.

Q7. How do tuples ensure data integrity in Python ?
  - Tuples ensure data integrity in Python because they are immutable, meaning once you create a tuple, you cannot change, add, or remove any of its elements. This makes sure that the data inside a tuple stays the same throughout the program, protecting it from accidental changes.

Q8. What is a hash table, and how does it relate to dictionaries in Python ?
  -  A hash table is a data structure that stores key-value pairs and uses a special function (called a hash function) to convert the key into an index where the value is stored. This allows for fast lookups, insertions, and deletions.

Q9: Can lists contain different data types in Python ?
  -  Yes, lists in Python can contain different data types. A list can hold a mix of numbers, strings, booleans, or even other lists.

Q10. Explain why strings are immutable in Python ?
   - Strings are immutable in Python because once they are created, their content cannot be changed. This helps make programs faster and safer by preventing accidental changes to the data. If you need to modify a string, Python creates a new string with the changes instead of changing the original one.

Q11. What advantages do dictionaries offer over lists for certain tasks ?
   -  Dictionaries offer several advantages over lists for certain tasks:
     - Faster Lookups: You can quickly find a value using a key in a dictionary, while with a list, you have to search through all the items.
     - Key-Value Pairs: Dictionaries store data as key-value pairs, making it easier to organize and access data based on a specific key, unlike lists which just store values in order.
     - No Duplicates for Keys: In a dictionary, each key is unique, so you don't need to worry about duplicate keys, while lists can have duplicate items.

Q12. Describe a scenario where using a tuple would be preferable over a list ?
   - A tuple would be better than a list if you need to store data that should not be changed. For example, if you're storing a date (like year, month, day), you don’t want the values to change by accident.

Q13. How do sets handle duplicate values in Python ?
   - Sets automatically remove duplicate values. If you try to add a duplicate value to a set, it will only keep one copy of that value.

Q14. How does the “in” keyword work differently for lists and dictionaries ?
   -  The in keyword works differently for lists and dictionaries in Python:
     - For lists: It checks if a value is present in the list. For dictionaries: It checks if a key is present in the dictionary, not the value.

Q15. Can you modify the elements of a tuple? Explain why or why not ?
   -  No, you cannot modify the elements of a tuple because tuples are immutable. Once a tuple is created, its values cannot be changed, added, or removed. This is to protect the data from being accidentally changed.

Q16. What is a nested dictionary, and give an example of its use case ?
   -  A nested dictionary is a dictionary that contains other dictionaries as values. This allows you to organize data in multiple layers.
     - Example: students = { "Millan": {"age": 20, "grades": [85, 90, 88]}, "Rex": {"age": 22, "grades": [78, 82, 80]}
   - Use case: You can access specific information about a student, like Bob's age, by using the student's name as the key, and then the age key inside that student's dictionary.
     - Example: print(students["Rex"]["age"])

Q17. Describe the time complexity of accessing elements in a dictionary ?
   - Accessing elements in a dictionary is very fast and has a time complexity of O(1), which means it takes the same amount of time no matter how many items are in the dictionary.
   - This is because dictionaries use a special method (hashing) to find the value quickly using the key.

Q18. In what situations are lists preferred over dictionaries ?
   - Lists are preferred over dictionaries in situations where:
     - Order matters: If you need to keep items in a specific order, use a list.
     - Index-based access: If you need to access items by their position (like the first, second, etc.), lists are better.
     - Storing similar items: If you're storing a collection of similar items (like numbers or names), a list is a good choice.

Q19. Why are dictionaries considered unordered, and how does that affect data retrieval ?
   - Dictionaries are considered unordered because the items (key-value pairs) do not have a specific order. This means the items might not appear in the same order every time you access them.
   - However, this doesn't affect data retrieval. You can still quickly find values by their keys regardless of the order of the items.

Q20. Explain the difference between a list and a dictionary in terms of data retrieval ?
   - The main difference between a list and a dictionary in terms of data retrieval is how you access the data:
     - List: You access elements by their index (position in the list).
     - Dictionary: You access elements by their key, not by position.

# PRATICAL QUESTIONS

Q1. Write a code to create a string with your name and print it ?

In [1]:
my_name = "Yogesh"
print(my_name)

Yogesh

Q2. Write a code to find the length of the string "Hello World" ?

In [2]:
my_string = "Hello World"
length = len(my_string)
print(length)

11

Q3. Write a code to slice the first 3 characters from the string "Python Programming" ?

In [3]:
my_string = "Python Programming"
sliced_string = my_string[:3]
print(sliced_string)

Pyt

Q4. Write a code to convert the string "hello" to uppercase ?

In [4]:
my_string = "hello"
uppercase_string = my_string.upper()
print(uppercase_string)

HELLO

Q5. Write a code to replace the word "apple" with "orange" in the string "I like apple" ?

In [5]:
my_string = "I like apple"
updated_string = my_string.replace("apple","orange")
print(updated_string)

I like orange

Q6. Write a code to create a list with numbers 1 to 5 and print it ?

In [6]:
my_list = [1,2,3,4,5]
print(my_list)

[1, 2, 3, 4, 5]

Q7. Write a code to append the number 10 to the list [1, 2, 3, 4] ?

In [8]:
my_list = [1,2,3,4]
my_list.append(10)
print(my_list)

[1, 2, 3, 4, 10]

Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
my_list = [1,2,3,4,5]
my_list.remove(3)
print(my_list)

[1, 2, 4, 5]

Q9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'] ?

In [12]:
my_list = ['a','b','c','d']
print(my_list[1])

b

Q10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [15]:
my_list = [10,20,30,40,50]
my_list.reverse()
print(my_list)

[50, 40, 30, 20, 10]

Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it ?

In [16]:
my_tuple = (10,20,30)
print(my_tuple)

(10, 20, 30)

Q12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry') ?

In [18]:
my_tuple = ('apple','banana','cherry')
print(my_tuple[0])

apple

Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [19]:
my_tuple = (1,2,3,2,4,2)
repeat_number2 = my_tuple.count(2)
print(repeat_number2)

3

Q14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [20]:
my_tuple = ('dog','cat','rabbit')
index = my_tuple.index('cat')
print(index)

1

Q15.  Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [21]:
my_tuple = ('apple','orange','banana')
banana_present = 'banana' in my_tuple
print(banana_present)

True

Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [22]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

Q17:  Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [24]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}

Q19: Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [25]:
my_tuple = ('apple','banana','cherry')
print(my_tuple[0])

apple

Q20: Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [26]:
my_tuple = (1,2,3,2,4,2)
repeat_number2 = my_tuple.count(2)
print(repeat_number2)

3

Q21: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [27]:
my_tuple = ('dog','cat','rabbit')
index = my_tuple.index('cat')
print(index)

1

Q22: Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [28]:
my_tuple = ('apple','orange','banana')
banana_present = 'banana' in my_tuple
print(banana_present)

True

Q23: Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [29]:
my_set = {1,2,3,4,5}
print(my_set)

{1, 2, 3, 4, 5}

Q24: Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [30]:
my_set = {1,2,3,4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}